{% extends 'userportal/base.html' %} {% load static %} {% load crispy_forms_tags %} {% block head %}
<title>E-Commerce</title>
{% endblock %} {% block body_block %}

<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Checkout</h1>
                <nav class="d-flex align-items-center">
                    <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="single-product.html">Checkout</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->

<!--================Checkout Area =================-->
<section class="checkout_area section_gap">
    <div class="container">
        <!-- <div class="returning_customer">
            <div class="check_title">
                <h2>Returning Customer? <a href="#">Click here to login</a></h2>
            </div>
            <p>If you have shopped with us before, please enter your details in the boxes below. If you are a new customer, please proceed to the Billing & Shipping section.</p>
            <form class="row contact_form" action="#" method="post" novalidate="novalidate">
                <div class="col-md-6 form-group p_star">
                    <input type="text" class="form-control" id="name" name="name">
                    <span class="placeholder" data-placeholder="Username or Email"></span>
                </div>
                <div class="col-md-6 form-group p_star">
                    <input type="password" class="form-control" id="password" name="password">
                    <span class="placeholder" data-placeholder="Password"></span>
                </div>
                <div class="col-md-12 form-group">
                    <button type="submit" value="submit" class="primary-btn">login</button>
                    <div class="creat_account">
                        <input type="checkbox" id="f-option" name="selector">
                        <label for="f-option">Remember me</label>
                    </div>
                    <a class="lost_pass" href="#">Lost your password?</a>
                </div>
            </form>
        </div>
        <div class="cupon_area">
            <div class="check_title">
                <h2>Have a coupon? <a href="#">Click here to enter your code</a></h2>
            </div>
            <input type="text" placeholder="Enter coupon code">
            <a class="tp_btn" href="#">Apply Coupon</a>
        </div> -->
        <div class="billing_details">
            <div class="row">
                <div class="col-lg-7">
                    <h3>Billing Details</h3>
                    <form class="row contact_form" action="{% url 'user_urls:address' %}" method="POST" novalidate="novalidate">
                        {% csrf_token %}
                        <div class="col-md-6">
                            {{ form|crispy }}
                        </div> {% comment %}
                        <div class="col-md-6 form-group p_star">
                            <input type="text" class="form-control" id="first" name="user" placeholder="First name*" value="{{ request.user.username }}">
                        </div>
                        <div class="col-md-6 form-group p_star">
                            <input type="text" class="form-control" id="last" name="last-name" placeholder="Last name*">
                        </div>
                        <div class="col-md-12 form-group">
                            <input type="text" class="form-control" id="company" name="email" placeholder="Email-Id*" value="{{ user.email }}">
                        </div>
                        <div class="col-md-6 form-group p_star">
                            <input type="text" class="form-control" id="number" name="number" placeholder="Phone number" value="{{ user.phone_number }}">
                            <!-- <span class="placeholder" data-eholder="Phone number"></span> -->
                        </div>
                        <div class="col-md-6 form-group p_star">
                            <input type="text" class="form-control" id="email" name="country_name" placeholder="Country Name" value="{{ user.address.country_name }}">
                        </div>
                        <div class="col-md-12 form-group p_star">
                            <input type="text" class="form-control" id="address" name="address" placeholder="Address*">
                        </div>
                        <div class="col-md-12 form-group p_star">
                            <input type="text" class="form-control" id="city_name" name="city_name" placeholder="City Name*">
                        </div>
                        <div class="col-md-12 form-group p_star">
                            <input type="number" class="form-control" id="zip_code" name="zip_code" placeholder="Zipcode*" maxlength="6">
                        </div>
                        <div class="col-md-12 form-group p_star">

                            <input type="radio" id="Home" name="address_type" value="Home" checked>
                            <label for="Home">Home</label>

                            <input type="radio" id="Work" name="address_type" value="Work">
                            <label for="Work">Work</label>
                        </div>
                        <div class="col-md-12 form-group">
                            <div class="creat_account">
                                <h3>Shipping Details</h3>
                                <input type="checkbox" id="f-option3" name="selector">
                                <label for="f-option3">Ship to a different address?</label>
                            </div>
                            <textarea class="form-control" name="message" id="message" rows="1" placeholder="Order Notes"></textarea>
                        </div> {% endcomment %}
                        <input class="uniForm btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" type="submit" name="submit" value="submit">
                    </form>
                    {% comment %}
                    <form action="{% url 'user_urls:email' %}" method="post">
                        {% csrf_token %}
                        <input class="uniForm btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" type="submit" value="Confirm">
                    </form>
                    {% endcomment %}
                </div>
                <div class=" col-lg-5 ">
                    <div class="order_box ">
                        <h2>Your Order</h2>
                        <ul class="list ">
                            <li><a href="# ">Product <span class="last ">Total</span></a></li>
                            {% for item in products %}
                            <li><a href="{% url 'product_urls:single_product' item.product.id %} ">{{ item.product.name|truncatechars:14 }}<span class="middle "> x{{ item.quantity }}
                                    </span> <span class="last ">${{ item.get_cart_total }}</span></a></li>
                            {% endfor %}
                        </ul>
                        <ul class="list list_2 ">
                            <li><a href="# ">Tax(18%) <span>18%</span></a></li>
                            <li><a href="# ">Total <span>${{ cart_total.get_total }}</span></a></li>
                        </ul>
                        <div class="payment_item ">
                            <div class="radion_btn ">
                                <input type="radio" id="f-option5 " name="selector">
                                <label for="f-option5 ">Check payments</label>
                                <div class="check "></div>
                            </div>
                            <p>Please send a check to Store Name, Store Street, Store Town, Store State / County, Store Postcode.
                            </p>
                        </div>
                        <div class="payment_item active ">
                            <div class="radion_btn ">
                                <input type="radio" id="f-option6 " name="selector">
                                <label for="f-option6 ">Paypal </label>
                                <img src="{% static 'userportal/img/product/card.jpg' %}" alt=" ">
                                <div class="check "></div>
                            </div>
                            <p>Pay via PayPal; you can pay with your credit card if you don’t have a PayPal account.
                            </p>
                        </div>
                        <!-- <a type="button "  class="primary-btn " href="# ">Proceed to Pay</a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Checkout Area =================-->

{% endblock %} {% block scripts %} {% endblock %}