{% extends 'adminportal/base.html' %} {% load static %} {% load crispy_forms_tags %} {% block head %}
<title>Admin</title>
{% endblock %} {% block body_block %}
<div class="container-fluid page-body-wrapper full-page-wrapper">
    <div class="content-wrapper d-flex align-items-center auth px-0">
        <div class="row w-100 mx-0">
            <div class="col-lg-4 mx-auto">
                <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                    <div class="brand-logo">
                        <img src="{% static 'adminportal/images/logo.svg' %}" alt="logo">
                    </div>
                    <h4>Hello! let's get started</h4>
                    <h6 class="fw-light">Sign in to continue.</h6>
                    {% for message in messages %}
                    <div style="color:red;" class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                        {{ message }}
                    </div>
                    {% endfor %} 
                    <form class="uniForm" method="POST" enctype="multipart/form-data">
                        {% csrf_token %} {{ form|crispy }} {{ form_U.as_p }} {{ form_P.as_p }}
                        <!-- <div class="form-group">
                  <input type="email" class="form-control form-control-lg" id="exampleInputEmail1" placeholder="Username">
                </div>
                <div class="form-group">
                  <input type="password" class="form-control form-control-lg" id="exampleInputPassword1" placeholder="Password">
                </div> -->

                        <div class="mt-3">
                            <input class="uniForm btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" type="submit" name="Register" value="Register">
                        </div>
                        <div class="my-2 d-flex justify-content-between align-items-center">
                            <div class="form-check">
                                <label class="form-check-label text-muted">
                      <input type="checkbox" class="form-check-input">
                      Keep me signed in
                    </label>
                            </div>
                            <a href="#" class="auth-link text-black">Forgot password?</a>
                        </div>
                        <div class="mb-2">
                            <button type="button" class="btn btn-block btn-facebook auth-form-btn">
                    <i class="ti-facebook me-2"></i>Connect using facebook
                  </button>
                        </div>
                        <div class="text-center mt-4 fw-light">
                            Already have an account? <a href="{% url 'user_urls:login_1' %}" class="text-primary">Log In</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- content-wrapper ends -->
</div>
<!-- page-body-wrapper ends -->
{% endblock %} {% block scripts %} {% endblock %}